/* src/components/css/footer.css */

footer {
  margin: 0;
  background-color: #1d1d1d;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}
