/* src/components/css/header.css */

.main-header {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.main-header h1 {
  font-size: 2rem;
  margin: 0;
}

.header-logo {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #333;
  color: #fff;
  text-align: center;
}
